.Button {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #919191;
  outline: none;
  cursor: pointer;
  padding: 5px;
  margin: 10px;
  transition: 0.3s;
}

.selectors:hover {
  border: 1px solid #cccccc;
  border-radius: 5px;
}

.clear:hover {
  text-decoration: underline;
  border-radius: 5px;
}